<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ga fuel calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>697EFCFA1D639EF600666419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>697EFD101D639EF600666419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>697EFD1B1D639EF600666419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
